Repository geins-io/sales-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(tenant): look up .litium.portal hosts as .litium.store in dev
  docs/guide/multi-tenant.md
  server/plugins/02.tenant-context.ts
  server/utils/dev-hostname.ts
  tests/server/plugins/02.tenant-context.test.ts
  tests/server/utils/dev-hostname.test.ts
Due: eslint --fix, prettier --write

feat(tenant): look up .litium.portal hosts as .litium.store in dev (#288)
  docs/guide/multi-tenant.md
  server/plugins/02.tenant-context.ts
  server/utils/dev-hostname.ts
  tests/server/plugins/02.tenant-context.test.ts
  tests/server/utils/dev-hostname.test.ts
Due: eslint --fix, prettier --write

fix(tenant): route only on hostnames the merchant api resolves
  server/utils/tenant.ts
  tests/server/tenant.test.ts
Due: eslint --fix, prettier --write

docs(adr): record where hostname truth lives
  docs/adr/007-tenant-config-schema-service-layer.md
Due: prettier --write

fix(tenant): route only on hostnames the merchant api resolves (#289)
  docs/adr/007-tenant-config-schema-service-layer.md
  server/utils/tenant.ts
  tests/server/tenant.test.ts
Due: eslint --fix, prettier --write

test(e2e): target the team-owned tenant by default
  playwright.config.ts
  tests/e2e/helpers.ts
  tests/e2e/preflight/l0-reachability.spec.ts
  tests/e2e/reporters/scope-reporter.ts
  tests/e2e/routing.spec.ts
  tests/e2e/target-defaults.mjs
  tests/e2e/target.ts
  tests/e2e/tsconfig.json
  tests/unit/e2e-target.test.ts
Due: eslint --fix, prettier --write

ci(e2e): default the e2e target to the team tenant
  .github/workflows/ci.yml
Due: none

build(local): write the hosts line for the configured e2e target
  infra/scripts/local-cert.sh
  infra/scripts/local-dev.sh
Due: none

docs(testing): document the per-mode e2e target and its hosts line
  .env.example
  docs/testing.md
  infra/local-development.md
Due: prettier --write

fix(brand): render the brand name without a heading element
  app/components/shared/BrandLogo.vue
  tests/components/BrandLogoFallback.test.ts
  tests/e2e/product-browsing.spec.ts
Due: eslint --fix, prettier --write

test(e2e): accept a flat category menu in the mobile nav spec
  tests/e2e/navigation.spec.ts
Due: eslint --fix, prettier --write

test(e2e): click a header link visible at the current viewport
  tests/e2e/navigation.spec.ts
Due: eslint --fix, prettier --write

test(e2e): assert the order rows the viewport actually shows
  tests/e2e/portal.spec.ts
Due: eslint --fix, prettier --write

fix(tenant): look up .litium.portal hosts as .litium.store in every mode
  server/plugins/02.tenant-context.ts
  server/utils/dev-hostname.ts
  server/utils/lookup-hostname.ts
  tests/server/plugins/02.tenant-context.test.ts
  tests/server/utils/dev-hostname.test.ts
  tests/server/utils/lookup-hostname.test.ts
Due: eslint --fix, prettier --write

test(e2e): use one target hostname in every mode
  playwright.config.ts
  tests/e2e/preflight/l0-reachability.spec.ts
  tests/e2e/target-defaults.mjs
  tests/e2e/target.ts
  tests/unit/e2e-target.test.ts
Due: eslint --fix, prettier --write

ci(e2e): default the e2e target to the portal hostname
  .github/workflows/ci.yml
Due: none

build(local): stop writing an /etc/hosts line in local setup
  infra/scripts/local-dev.sh
Due: none

docs(tenant): describe the hostname rewrite as applying in every mode
  .env.example
  docs/guide/multi-tenant.md
  docs/testing.md
  infra/local-development.md
Due: prettier --write

test(e2e): fix four assertions that could pass regardless
  tests/e2e/navigation.spec.ts
  tests/server/utils/lookup-hostname.test.ts
  tests/unit/e2e-target.test.ts
Due: eslint --fix, prettier --write

build(local): report DNS honestly and check the SAN portably
  docs/testing.md
  infra/scripts/local-cert.sh
  infra/scripts/local-dev.sh
Due: prettier --write

test(e2e): target the team-owned tenant and fix what it uncovered (#290)
  .env.example
  .github/workflows/ci.yml
  app/components/shared/BrandLogo.vue
  docs/guide/multi-tenant.md
  docs/testing.md
  infra/local-development.md
  infra/scripts/local-cert.sh
  infra/scripts/local-dev.sh
  playwright.config.ts
  server/plugins/02.tenant-context.ts
  server/utils/dev-hostname.ts
  server/utils/lookup-hostname.ts
  tests/components/BrandLogoFallback.test.ts
  tests/e2e/helpers.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/portal.spec.ts
  tests/e2e/preflight/l0-reachability.spec.ts
  tests/e2e/product-browsing.spec.ts
  tests/e2e/reporters/scope-reporter.ts
  tests/e2e/routing.spec.ts
  tests/e2e/target-defaults.mjs
  tests/e2e/target.ts
  tests/e2e/tsconfig.json
  tests/server/plugins/02.tenant-context.test.ts
  tests/server/utils/dev-hostname.test.ts
  tests/server/utils/lookup-hostname.test.ts
  tests/unit/e2e-target.test.ts
Due: eslint --fix, prettier --write

build(local): bind the dev server to loopback unless --lan
  infra/scripts/local-dev.sh
Due: none

docs(local): document the loopback default and the --lan opt-in
  infra/local-development.md
Due: prettier --write

build(local): bind the dev server to loopback unless --lan (#291)
  infra/local-development.md
  infra/scripts/local-dev.sh
Due: prettier --write

fix(config): set the tenant api url in the env example
  .env.example
Due: none

docs(multi-tenant): document local resolution and its failure modes
  docs/architecture.md
  docs/guide/multi-tenant.md
Due: prettier --write

docs(multi-tenant): document local resolution and its failure modes (#292)
  .env.example
  docs/architecture.md
  docs/guide/multi-tenant.md
Due: prettier --write

fix(dev): bind the dev server to ipv4 loopback
  nuxt.config.ts
Due: eslint --fix, prettier --write

refactor(tenant): move the local suffix to the rfc-reserved .test
  nuxt.config.ts
  server/plugins/02.tenant-context.ts
  server/utils/lookup-hostname.ts
  tests/server/plugins/02.tenant-context.test.ts
  tests/server/utils/lookup-hostname.test.ts
Due: eslint --fix, prettier --write

fix(local): require the local suffix in the tls cert staleness check
  infra/scripts/local-cert.sh
Due: none

refactor(e2e): target the .test suffix locally and in ci
  .github/workflows/ci.yml
  infra/scripts/local-cert.sh
  infra/scripts/local-dev.sh
  playwright.config.ts
  tests/e2e/preflight/l0-reachability.spec.ts
  tests/e2e/target-defaults.mjs
  tests/e2e/unknown-hostname.spec.ts
  tests/unit/e2e-target.test.ts
Due: eslint --fix, prettier --write

docs(local-dev): rename the local suffix to .test
  .env.example
  docs/architecture.md
  docs/guide/api-reference.md
  docs/guide/multi-tenant.md
  docs/integration/webhook-config-refresh.md
  docs/testing.md
  infra/local-development.md
Due: prettier --write

refactor(tenant): move the local suffix to the rfc-reserved .test (#293)
  .env.example
  .github/workflows/ci.yml
  docs/architecture.md
  docs/guide/api-reference.md
  docs/guide/multi-tenant.md
  docs/integration/webhook-config-refresh.md
  docs/testing.md
  infra/local-development.md
  infra/scripts/local-cert.sh
  infra/scripts/local-dev.sh
  nuxt.config.ts
  playwright.config.ts
  server/plugins/02.tenant-context.ts
  server/utils/lookup-hostname.ts
  tests/e2e/preflight/l0-reachability.spec.ts
  tests/e2e/target-defaults.mjs
  tests/e2e/unknown-hostname.spec.ts
  tests/server/plugins/02.tenant-context.test.ts
  tests/server/utils/lookup-hostname.test.ts
  tests/unit/e2e-target.test.ts
Due: eslint --fix, prettier --write

refactor(tenant): rename the legacy tenant fixtures to alpha and beta
  app/composables/useLocaleAlternates.ts
  server/services/url-resolver.ts
  server/utils/cookies.ts
  tests/components/pages/ProductDetailsAlternates.test.ts
  tests/components/pages/ProductListAlternates.test.ts
  tests/composables/useLocaleAlternates.test.ts
  tests/server/api/resolve-url.test.ts
  tests/server/error-handler.test.ts
  tests/server/middleware/buyer-market.test.ts
  tests/server/middleware/locale-market.test.ts
  tests/server/plugins/03.seo-config.test.ts
  tests/server/services/_sdk.test.ts
  tests/server/services/cms-cache.test.ts
  tests/server/services/url-resolver.test.ts
  tests/server/store-settings-schema.test.ts
  tests/server/tenant-resolution-log.test.ts
  tests/server/tenant.test.ts
  tests/server/webhook-route.test.ts
Due: eslint --fix, prettier --write

docs(tenant): drop the legacy tenant names from examples and history
  docs/adr/009-webhook-cache-invalidation.md
  docs/architecture.md
  docs/guide/multi-tenant.md
  docs/lessons-learned.md
Due: prettier --write

fix(tests): type the tenant fixtures and error-handler calls correctly
  tests/server/api/resolve-url.test.ts
  tests/server/error-handler.test.ts
  tests/server/tenant.test.ts
Due: eslint --fix, prettier --write

refactor(tenant): rename the legacy tenant fixtures to alpha and beta (#294)
  app/composables/useLocaleAlternates.ts
  docs/adr/009-webhook-cache-invalidation.md
  docs/architecture.md
  docs/guide/multi-tenant.md
  docs/lessons-learned.md
  server/services/url-resolver.ts
  server/utils/cookies.ts
  tests/components/pages/ProductDetailsAlternates.test.ts
  tests/components/pages/ProductListAlternates.test.ts
  tests/composables/useLocaleAlternates.test.ts
  tests/server/api/resolve-url.test.ts
  tests/server/error-handler.test.ts
  tests/server/middleware/buyer-market.test.ts
  tests/server/middleware/locale-market.test.ts
  tests/server/plugins/03.seo-config.test.ts
  tests/server/services/_sdk.test.ts
  tests/server/services/cms-cache.test.ts
  tests/server/services/url-resolver.test.ts
  tests/server/store-settings-schema.test.ts
  tests/server/tenant-resolution-log.test.ts
  tests/server/tenant.test.ts
  tests/server/webhook-route.test.ts
Due: eslint --fix, prettier --write

feat(tenant): answer loopback hosts with a development setup page
  server/error.ts
  server/plugins/02.tenant-context.ts
  server/utils/loopback-host.ts
  tests/server/error-handler.test.ts
  tests/server/loopback-host.test.ts
  tests/server/plugins/02.tenant-context.test.ts
Due: eslint --fix, prettier --write

docs(multi-tenant): note the setup page on loopback hosts
  docs/guide/multi-tenant.md
Due: prettier --write

docs(tenant): describe the loopback branch by what it does
  docs/guide/multi-tenant.md
  server/plugins/02.tenant-context.ts
  tests/server/plugins/02.tenant-context.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,css,scss})
