Repository geins-io/sales-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

ci: adopt production/main/dev branching with build-once promotion
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  AGENTS.md
  CONTRIBUTING.md
  docs/adr/022-dev-main-branching-release-flow.md
  infra/README.md
Due: prettier --write

chore(dev): seed empty staging branch manifest
  .github/dev-branches.txt
Due: none

ci: adopt production/main/dev branching with build-once promotion
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-sync.yml
  AGENTS.md
  CONTRIBUTING.md
  docs/adr/022-dev-main-branching-release-flow.md
  docs/adr/README.md
  infra/README.md
Due: prettier --write

feat(pdp): positional and override alt text on product image gallery
  app/components/product/ProductGallery.vue
  app/locales/en.json
  app/locales/sv.json
  tests/components/product/ProductGallery.test.ts
Due: eslint --fix, prettier --write

ci(dev): stage pdp image alt-text branch on dev
  .github/dev-branches.txt
Due: none

fix(quotes): sort quotations list by newest first
  server/services/quotes.ts
  tests/server/services/quotes.test.ts
Due: eslint --fix, prettier --write

ci(dev-config): add sal-299-quotations-sort-latest to staging manifest
  .github/dev-branches.txt
Due: none

fix(checkout): use button-background token on store-settings ctas
  app/components/checkout/OrderConfirmation.vue
  app/components/pages/CartPage.vue
  app/components/shared/EmptyState.vue
  app/pages/quote-confirmation/[id].vue
Due: eslint --fix, prettier --write

fix(theme): inherit store-settings styles on error pages
  app/error.vue
  server/error.ts
  server/plugins/04.tenant-css.ts
  server/utils/cms-sanitize.ts
  server/utils/sanitize.ts
  shared/utils/sanitize-css.ts
  tests/server/error-handler.test.ts
  tests/server/sanitize.test.ts
  tests/unit/store-settings-theming.test.ts
Due: eslint --fix, prettier --write

ci(dev-config): add sal-303-304-store-settings-theming to staging manifest
  .github/dev-branches.txt
Due: none

fix(filters): stop sheet autofocus popping mobile keyboard
  app/components/product/ProductFilters.vue
  app/components/product/VariantSelector.vue
  tests/components/product/ProductFilters.test.ts
  tests/components/product/VariantSelector.test.ts
Due: eslint --fix, prettier --write

fix(search): open usable focused search on mobile
  app/components/shared/SearchBar.vue
  app/pages/search.vue
  tests/components/SearchBar.test.ts
  tests/e2e/search.spec.ts
Due: eslint --fix, prettier --write

ci(dev-config): add sal-300-305-mobile-search-filter to staging manifest
  .github/dev-branches.txt
Due: none

feat(pdp): render text 2 and text 3 in details tab, cap at max-w-3xl
  app/components/product/ProductTabs.vue
  app/utils/product-texts.ts
  tests/components/product/ProductTabs.test.ts
  tests/utils/product-texts.test.ts
Due: eslint --fix, prettier --write

ci(dev-config): add sal-301-pdp-content-tab to staging manifest
  .github/dev-branches.txt
Due: none

refactor(pdp): add useProductImageAlt helper for gallery image alt text
  app/composables/useProductImageAlt.ts
  tests/composables/useProductImageAlt.test.ts
Due: eslint --fix, prettier --write

refactor(pdp): build all gallery image alt text from one helper
  app/components/pages/ProductDetails.vue
  app/components/product/ProductGallery.vue
  app/components/product/VariantSelector.vue
  tests/components/product/ProductGallery.test.ts
  tests/unit/ProductImageAltRenderers.test.ts
Due: eslint --fix, prettier --write

docs(pdp): note no per-image alt field; align variant thumbnail alt
  app/components/product/VariantSelector.vue
  app/composables/useProductImageAlt.ts
  server/services/graphql/products/product.graphql
  tests/composables/useProductImageAlt.test.ts
Due: eslint --fix, prettier --write

ci(dev-config): add sal-293-pdp-spec-params-visibility to staging manifest
  .github/dev-branches.txt
Due: none

fix(product): render PDP spec params regardless of the show flag
  app/components/product/ProductTabs.vue
  tests/components/product/ProductTabs.test.ts
Due: eslint --fix, prettier --write

feat(search): toggle a desktop-style mobile search overlay
  app/components/layout/LayoutHeader.vue
  app/components/layout/header/LayoutHeaderActionButtons.vue
  app/components/layout/header/LayoutHeaderMobileSearch.vue
  app/components/search/SearchAutocomplete.vue
  app/stores/app.ts
  tests/components/layout/LayoutHeaderActionButtons.test.ts
  tests/components/layout/LayoutHeaderMobileSearch.test.ts
  tests/e2e/search.spec.ts
  tests/stores/app.test.ts
Due: eslint --fix, prettier --write

ci(dev-config): drop merged release branches from staging manifest
  .github/dev-branches.txt
Due: none

ci(dev-config): add footer newsletter visibility branch to staging manifest
  .github/dev-branches.txt
Due: none

style(pages): restyle info-page side menu as bordered white card
  app/components/pages/PageSidebarNav.vue
Due: eslint --fix, prettier --write

feat(filters): hide placeholder-only size facet and rename label to type
  app/components/product/FilterGroup.vue
  app/locales/en.json
  app/locales/sv.json
  tests/components/product/FilterGroup.test.ts
Due: eslint --fix, prettier --write

feat(plp): hide price sorts when prices hidden, document sort options
  app/components/pages/ProductList.vue
  docs/patterns/README.md
  docs/patterns/plp-sorting.md
  tests/components/pages/ProductList.test.ts
Due: eslint --fix, prettier --write

feat(portal): show order message inline, remove communication button
  app/locales/en.json
  app/locales/sv.json
  app/pages/portal/orders/[id].vue
  tests/components/pages/order-detail.test.ts
Due: eslint --fix, prettier --write

ci(dev-config): add m8 ui batch branch to staging manifest
  .github/dev-branches.txt
Due: none

fix(plp): default product lists to newest, keep search on relevance
  app/components/pages/ProductList.vue
  app/pages/products/index.vue
  app/pages/s/[query].vue
  docs/patterns/plp-sorting.md
  tests/components/pages/AllProductsPage.test.ts
  tests/components/pages/ProductList.test.ts
  tests/components/pages/SearchResultsPage.test.ts
Due: eslint --fix, prettier --write

chore(dev-sync): add layout-containers branch to staging manifest
  .github/dev-branches.txt
Due: none

chore(dev-config): add cms-widgets branch to staging manifest
  .github/dev-branches.txt
Due: none

chore(dev-config): add cms-widget-fixes branch to staging manifest
  .github/dev-branches.txt
Due: none

fix(cms): map banner-cards placement to both axes
  app/components/cms/widgets/JsonWidget.vue
  tests/components/cms/JsonWidget.test.ts
Due: eslint --fix, prettier --write

chore(dev-config): add mobile-cms-page-polish branch to staging manifest
  .github/dev-branches.txt
Due: none

chore(dev-config): add mobile-header-drawer-polish branch to staging manifest
  .github/dev-branches.txt
Due: none

chore(dev-config): add mobile polish branches to staging manifest
  .github/dev-branches.txt
Due: none

chore(dev-config): add checkout cart trash icon branch to staging manifest
  .github/dev-branches.txt
Due: none
