Repository geins-io/sales-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

test(cms): bind the header and sidebar menus to their configured id
  tests/components/layout/LayoutHeaderNav.test.ts
  tests/unit/config-coverage/map.ts
  tests/unit/pages/slug-catch-all.test.ts
Due: eslint --fix, prettier --write

test(config): close the coverage map on zero cells without a test
  docs/testing.md
  tests/components/LocaleSwitcher.test.ts
  tests/server/tenant-resolution-log.test.ts
  tests/unit/config-coverage/map.test.ts
  tests/unit/config-coverage/map.ts
Due: eslint --fix, prettier --write

test(config): complete the gate list and point at the header menu test
  tests/components/layout/LayoutHeaderNav.test.ts
  tests/unit/config-coverage/map.ts
Due: eslint --fix, prettier --write

test(config): bring every tenant config cell to a proven status (#318)
  docs/testing.md
  tests/components/LocaleSwitcher.test.ts
  tests/components/layout/LayoutHeaderNav.test.ts
  tests/components/pages/IndexPage.test.ts
  tests/components/pages/ProductDetails.test.ts
  tests/components/pages/ProductList.test.ts
  tests/server/store-settings-schema.test.ts
  tests/server/tenant-resolution-log.test.ts
  tests/server/tenant.test.ts
  tests/unit/config-coverage/map.test.ts
  tests/unit/config-coverage/map.ts
  tests/unit/config-coverage/types.ts
  tests/unit/pages/slug-catch-all.test.ts
Due: eslint --fix, prettier --write

fix(health): grade memory against configurable thresholds
  nuxt.config.ts
  server/api/health.get.ts
  server/utils/health-memory.ts
  tests/server/health-memory.test.ts
  tests/unit/nuxt-config-health.test.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write

test(health): assert liveness in dev mode
  tests/e2e/preflight/l1-liveness.spec.ts
Due: eslint --fix, prettier --write

docs(health): document the memory grading settings
  README.md
  docs/architecture.md
  docs/conventions/runtime-config.md
Due: prettier --write

fix(health): tie memory grading to dev mode instead of config
  .env.example
  README.md
  docs/architecture.md
  docs/conventions/runtime-config.md
  nuxt.config.ts
  server/api/health.get.ts
  server/utils/health-memory.ts
  tests/server/health-memory.test.ts
  tests/unit/nuxt-config-health.test.ts
Due: eslint --fix, prettier --write

fix(health): grade /api/health memory against configurable thresholds (#319)
  .env.example
  README.md
  docs/architecture.md
  docs/conventions/runtime-config.md
  nuxt.config.ts
  server/api/health.get.ts
  server/utils/health-memory.ts
  tests/e2e/preflight/l1-liveness.spec.ts
  tests/server/health-memory.test.ts
  tests/unit/nuxt-config-health.test.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write

ci(certs): issue and bind a staging wildcard certificate
  .github/workflows/renew-certs.yml
Due: none

ci(certs): issue and bind a staging wildcard certificate (#320)
  .github/workflows/renew-certs.yml
Due: none

refactor(infra): share one app settings definition across site and slot
  .github/workflows/deploy.yml
  .gitignore
  infra/README.md
  infra/environment-variables.md
  infra/main.bicep
  infra/modules/webApp.bicep
Due: prettier --write

refactor(infra): share one app settings definition across site and slot (#321)
  .github/workflows/deploy.yml
  .gitignore
  infra/README.md
  infra/environment-variables.md
  infra/main.bicep
  infra/modules/webApp.bicep
Due: prettier --write

fix(deploy): set the container image outside the bicep template
  .github/workflows/deploy.yml
  infra/README.md
  infra/main.bicep
  infra/modules/webApp.bicep
  infra/parameters/dev.bicepparam
  infra/parameters/prod.bicepparam
  infra/parameters/staging.bicepparam
  infra/scripts/deploy.sh
  infra/scripts/validate.sh
Due: prettier --write

fix(deploy): set the container image outside the bicep template (#322)
  .github/workflows/deploy.yml
  infra/README.md
  infra/main.bicep
  infra/modules/webApp.bicep
  infra/parameters/dev.bicepparam
  infra/parameters/prod.bicepparam
  infra/parameters/staging.bicepparam
  infra/scripts/deploy.sh
  infra/scripts/validate.sh
Due: prettier --write

ci(deploy): verify the slot renders before a two-phase swap
  .github/scripts/pending-swap.sh
  .github/scripts/verify-deployment.sh
  .github/workflows/deploy.yml
  infra/environment-variables.md
Due: prettier --write

ci(deploy): verify the slot renders before a two-phase swap (#323)
  .github/scripts/pending-swap.sh
  .github/scripts/verify-deployment.sh
  .github/workflows/deploy.yml
  infra/environment-variables.md
Due: prettier --write

ci(rollback): swap production back to the build the slot holds
  .github/scripts/served-build.sh
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  infra/environment-variables.md
Due: prettier --write

docs(release): require an approval before the production swap
  .github/workflows/deploy.yml
  CONTRIBUTING.md
Due: prettier --write

ci(deploy): gate the production swap and add a rollback workflow (#324)
  .github/scripts/served-build.sh
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  CONTRIBUTING.md
  infra/environment-variables.md
Due: prettier --write

fix(deploy): wait for the served build, reset swaps, park the idle slot
  .github/scripts/served-build.sh
  .github/scripts/verify-deployment.sh
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  CONTRIBUTING.md
Due: prettier --write

fix(deploy): wait for the served build, reset swaps, park the idle slot (#325)
  .github/scripts/served-build.sh
  .github/scripts/verify-deployment.sh
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  CONTRIBUTING.md
Due: prettier --write

fix(infra): run production on p1v3 with zone redundancy off
  infra/main.bicep
  infra/modules/appServicePlan.bicep
Due: none

ci(deploy): stop the staging slot after a pending swap is reset
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  CONTRIBUTING.md
Due: prettier --write

fix(infra): infra/prod plan p1v3 (#326)
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  CONTRIBUTING.md
  infra/main.bicep
  infra/modules/appServicePlan.bicep
Due: prettier --write

ci(deploy): release production through the staging slot without downtime (#327)
  .github/scripts/pending-swap.sh
  .github/scripts/served-build.sh
  .github/scripts/verify-deployment.sh
  .github/workflows/deploy.yml
  .github/workflows/renew-certs.yml
  .github/workflows/rollback.yml
  .gitignore
  CONTRIBUTING.md
  infra/README.md
  infra/environment-variables.md
  infra/main.bicep
  infra/modules/appServicePlan.bicep
  infra/modules/webApp.bicep
  infra/parameters/dev.bicepparam
  infra/parameters/prod.bicepparam
  infra/parameters/staging.bicepparam
  infra/scripts/deploy.sh
  infra/scripts/validate.sh
Due: prettier --write

fix(portal): wrap each responsive list in one addressable element
  app/pages/portal/index.vue
  app/pages/portal/quotations/index.vue
  docs/testing.md
  tests/e2e/portal.spec.ts
Due: eslint --fix, prettier --write

test(portal): pick the quotation link by visibility, not by count
  tests/e2e/portal.spec.ts
Due: eslint --fix, prettier --write

test(portal): assert quote line items in the shape the viewport shows
  tests/e2e/portal.spec.ts
Due: eslint --fix, prettier --write

fix(portal): give the portal lists one unambiguous test id each (#328)
  app/pages/portal/index.vue
  app/pages/portal/quotations/index.vue
  docs/testing.md
  tests/e2e/portal.spec.ts
Due: eslint --fix, prettier --write

fix(portal): render the orders table wrapper only when rows exist
  app/components/portal/PortalOrdersTable.vue
  tests/components/portal/PortalOrdersTable.test.ts
  tests/e2e/portal.spec.ts
Due: eslint --fix, prettier --write

fix(portal): render the orders table wrapper only when rows exist (#329)
  app/components/portal/PortalOrdersTable.vue
  tests/components/portal/PortalOrdersTable.test.ts
  tests/e2e/portal.spec.ts
Due: eslint --fix, prettier --write

ci(e2e): run the full suite on three browsers from a manual workflow
  .github/workflows/e2e-full.yml
  docs/testing.md
Due: prettier --write

ci(e2e): run the full suite on three browsers from a manual workflow (#330)
  .github/workflows/e2e-full.yml
  docs/testing.md
Due: prettier --write

fix(e2e): group locales without an API newer than the pinned node
  tests/e2e/locale-switching.spec.ts
Due: eslint --fix, prettier --write

fix(e2e): group locales without an API newer than the pinned node (#331)
  tests/e2e/locale-switching.spec.ts
Due: eslint --fix, prettier --write

test(product): assert PLP and PDP prices against the API
  app/components/pages/ProductDetails.vue
  app/components/shared/PriceDisplay.vue
  app/components/shared/ProductCard.vue
  docs/testing.md
  tests/components/commerce/PriceDisplay.test.ts
  tests/e2e/helpers.ts
  tests/e2e/product-browsing.spec.ts
Due: eslint --fix, prettier --write

test(e2e): declare or assert every early exit in the product specs
  app/components/product/ProductListToolbar.vue
  tests/e2e/cart.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/product-browsing.spec.ts
  tests/e2e/search.spec.ts
Due: eslint --fix, prettier --write

test(product): assert prices against the API and declare early exits (#332)
  app/components/pages/ProductDetails.vue
  app/components/product/ProductListToolbar.vue
  app/components/shared/PriceDisplay.vue
  app/components/shared/ProductCard.vue
  docs/testing.md
  tests/components/commerce/PriceDisplay.test.ts
  tests/e2e/cart.spec.ts
  tests/e2e/helpers.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/product-browsing.spec.ts
  tests/e2e/search.spec.ts
Due: eslint --fix, prettier --write

fix(e2e): match a grid card against the whole catalogue, not a page
  tests/e2e/helpers.ts
  tests/e2e/product-browsing.spec.ts
Due: eslint --fix, prettier --write
