Repository geins-io/sales-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

feat(tenant): answer loopback hosts with a development setup page (#295)
  docs/guide/multi-tenant.md
  server/error.ts
  server/plugins/02.tenant-context.ts
  server/utils/loopback-host.ts
  tests/server/error-handler.test.ts
  tests/server/loopback-host.test.ts
  tests/server/plugins/02.tenant-context.test.ts
Due: eslint --fix, prettier --write

fix(local-dev): remove port forwarding when the dev session ends
  infra/scripts/local-dev.sh
Due: none

test(e2e): name the stale forwarding rule when the origin times out
  tests/e2e/preflight/l0-reachability.spec.ts
  tests/e2e/preflight/unreachable-hint.ts
  tests/utils/e2e-unreachable-hint.test.ts
Due: eslint --fix, prettier --write

docs(local-dev): document forwarding as a dev-session anchor
  infra/local-development.md
Due: prettier --write

fix(local-dev): remove port forwarding when the dev session ends (#296)
  infra/local-development.md
  infra/scripts/local-dev.sh
  tests/e2e/preflight/l0-reachability.spec.ts
  tests/e2e/preflight/unreachable-hint.ts
  tests/utils/e2e-unreachable-hint.test.ts
Due: eslint --fix, prettier --write

docs(adr): record config coverage layers for unit and e2e tests
  docs/adr/023-config-coverage-layers.md
  docs/adr/README.md
Due: prettier --write

docs(adr): record config coverage layers for unit and e2e tests (#297)
  docs/adr/023-config-coverage-layers.md
  docs/adr/README.md
Due: prettier --write

refactor(feature-access): drop access rules the app cannot evaluate
  server/schemas/store-settings.ts
  server/services/tenant-config.ts
  server/utils/tenant.ts
  shared/types/tenant-config.ts
  shared/utils/feature-access.ts
  tests/server/store-settings-schema.test.ts
  tests/server/tenant.test.ts
  tests/shared/feature-access.test.ts
Due: eslint --fix, prettier --write

refactor(feature-access): keep one explanation of retired access rules
  server/schemas/store-settings.ts
  server/utils/tenant.ts
  shared/types/tenant-config.ts
Due: eslint --fix, prettier --write

docs(feature-access): describe the evaluable access rules
  docs/adr/007-tenant-config-schema-service-layer.md
  docs/architecture.md
  docs/guide/multi-tenant.md
  docs/patterns/README.md
Due: prettier --write

refactor(feature-access): drop access rules the app cannot evaluate (#298)
  docs/adr/007-tenant-config-schema-service-layer.md
  docs/architecture.md
  docs/guide/multi-tenant.md
  docs/patterns/README.md
  server/schemas/store-settings.ts
  server/services/tenant-config.ts
  server/utils/tenant.ts
  shared/types/tenant-config.ts
  shared/utils/feature-access.ts
  tests/server/store-settings-schema.test.ts
  tests/server/tenant.test.ts
  tests/shared/feature-access.test.ts
Due: eslint --fix, prettier --write

fix(cms): key content caches by the caller's auth token
  server/api/cms/area.get.ts
  server/api/cms/menu.get.ts
  server/api/cms/page/[alias].get.ts
  server/middleware/01.buyer-market.ts
  server/services/cms.ts
  server/utils/request-identity.ts
  tests/server/api/cms/cms-cache-headers.test.ts
  tests/server/api/cms/cms-routes-auth.test.ts
  tests/server/api/cms/menu.test.ts
  tests/server/services/cms-cache.test.ts
  tests/server/services/cms-customer-type.test.ts
  tests/server/services/cms-page-link.test.ts
  tests/server/services/cms-preview.test.ts
Due: eslint --fix, prettier --write

fix(cms): key content caches by the caller's auth token (#299)
  server/api/cms/area.get.ts
  server/api/cms/menu.get.ts
  server/api/cms/page/[alias].get.ts
  server/middleware/01.buyer-market.ts
  server/services/cms.ts
  server/utils/request-identity.ts
  tests/server/api/cms/cms-cache-headers.test.ts
  tests/server/api/cms/cms-routes-auth.test.ts
  tests/server/api/cms/menu.test.ts
  tests/server/services/cms-cache.test.ts
  tests/server/services/cms-customer-type.test.ts
  tests/server/services/cms-page-link.test.ts
  tests/server/services/cms-preview.test.ts
Due: eslint --fix, prettier --write

docs(cms): describe the identity-bearing CMS cache keys
  docs/adr/014-caching-strategy.md
  docs/architecture.md
  docs/patterns/cms-page-link.md
Due: prettier --write

docs(cms): describe the identity-bearing CMS cache keys (#300)
  docs/adr/014-caching-strategy.md
  docs/architecture.md
  docs/patterns/cms-page-link.md
Due: prettier --write

fix(auth): map the numeric PascalCase CustomerType claim
  server/utils/auth.ts
  tests/server/customer-type.test.ts
Due: eslint --fix, prettier --write

fix(auth): map the numeric PascalCase CustomerType claim (#301)
  server/utils/auth.ts
  tests/server/customer-type.test.ts
Due: eslint --fix, prettier --write

refactor(feature-access): drop the role rule and its route-meta gate
  app/composables/useFeatureAccess.ts
  app/middleware/auth.ts
  app/middleware/feature.ts
  app/stores/auth.ts
  app/types/route-meta.d.ts
  server/schemas/store-settings.ts
  server/utils/tenant.ts
  shared/types/tenant-config.ts
  shared/utils/feature-access.ts
  tests/composables/useFeatureAccess.test.ts
  tests/middleware/auth.test.ts
  tests/middleware/feature.test.ts
  tests/server/feature-access.test.ts
  tests/server/store-settings-schema.test.ts
  tests/server/tenant-config-service.test.ts
  tests/server/tenant.test.ts
  tests/shared/feature-access.test.ts
  tests/stores/auth.test.ts
Due: eslint --fix, prettier --write

docs(feature-access): list two access rules instead of three
  docs/adr/007-tenant-config-schema-service-layer.md
  docs/architecture.md
  docs/guide/multi-tenant.md
  docs/patterns/README.md
Due: prettier --write

refactor(feature-access): drop the role rule and its route-meta gate (#302)
  app/composables/useFeatureAccess.ts
  app/middleware/auth.ts
  app/middleware/feature.ts
  app/stores/auth.ts
  app/types/route-meta.d.ts
  docs/adr/007-tenant-config-schema-service-layer.md
  docs/architecture.md
  docs/guide/multi-tenant.md
  docs/patterns/README.md
  server/schemas/store-settings.ts
  server/utils/tenant.ts
  shared/types/tenant-config.ts
  shared/utils/feature-access.ts
  tests/composables/useFeatureAccess.test.ts
  tests/middleware/auth.test.ts
  tests/middleware/feature.test.ts
  tests/server/feature-access.test.ts
  tests/server/store-settings-schema.test.ts
  tests/server/tenant-config-service.test.ts
  tests/server/tenant.test.ts
  tests/shared/feature-access.test.ts
  tests/stores/auth.test.ts
Due: eslint --fix, prettier --write

refactor(feature-access): make rule evaluation exhaustive
  server/utils/tenant.ts
  shared/utils/feature-access.ts
  tests/server/tenant.test.ts
  tests/shared/feature-access.test.ts
Due: eslint --fix, prettier --write

refactor(feature-access): make rule evaluation exhaustive (#303)
  server/utils/tenant.ts
  shared/utils/feature-access.ts
  tests/server/tenant.test.ts
  tests/shared/feature-access.test.ts
Due: eslint --fix, prettier --write

feat(tenant): resolve staging hostnames through registered hosts
  server/plugins/02.tenant-context.ts
  server/utils/lookup-hostname.ts
  tests/server/plugins/02.tenant-context.test.ts
  tests/server/tenant-resolution-log.test.ts
  tests/server/utils/lookup-hostname.test.ts
Due: eslint --fix, prettier --write

test(server): make the server unit tests type-check
  tests/server/api-contracts.test.ts
  tests/server/api/auth/forgot-password.test.ts
  tests/server/api/auth/login.test.ts
  tests/server/api/auth/me.test.ts
  tests/server/api/auth/register.test.ts
  tests/server/api/auth/reset-password.test.ts
  tests/server/api/cart.test.ts
  tests/server/api/checkout/token-post.test.ts
  tests/server/api/cms/cms-cache-headers.test.ts
  tests/server/api/cms/cms-routes-auth.test.ts
  tests/server/api/cms/menu.test.ts
  tests/server/api/orders/[id]-get.test.ts
  tests/server/api/product-lists.test.ts
  tests/server/api/product-lists/products.test.ts
  tests/server/api/products.test.ts
  tests/server/api/search.test.ts
  tests/server/api/user/change-password.test.ts
  tests/server/api/user/profile-put.test.ts
  tests/server/errors.test.ts
  tests/server/external-api.test.ts
  tests/server/mock-event.ts
  tests/server/rate-limiter.test.ts
  tests/server/services/alternative-urls.test.ts
  tests/server/services/geins-settings.ts
  tests/server/services/integration.test.ts
  tests/server/tenant-config-service.test.ts
  tests/server/utils/tenant.test.ts
Due: eslint --fix, prettier --write

test(server): make the server unit tests type-check (#305)
  tests/server/api-contracts.test.ts
  tests/server/api/auth/forgot-password.test.ts
  tests/server/api/auth/login.test.ts
  tests/server/api/auth/me.test.ts
  tests/server/api/auth/register.test.ts
  tests/server/api/auth/reset-password.test.ts
  tests/server/api/cart.test.ts
  tests/server/api/checkout/token-post.test.ts
  tests/server/api/cms/cms-cache-headers.test.ts
  tests/server/api/cms/cms-routes-auth.test.ts
  tests/server/api/cms/menu.test.ts
  tests/server/api/orders/[id]-get.test.ts
  tests/server/api/product-lists.test.ts
  tests/server/api/product-lists/products.test.ts
  tests/server/api/products.test.ts
  tests/server/api/search.test.ts
  tests/server/api/user/change-password.test.ts
  tests/server/api/user/profile-put.test.ts
  tests/server/errors.test.ts
  tests/server/external-api.test.ts
  tests/server/mock-event.ts
  tests/server/rate-limiter.test.ts
  tests/server/services/alternative-urls.test.ts
  tests/server/services/geins-settings.ts
  tests/server/services/integration.test.ts
  tests/server/tenant-config-service.test.ts
  tests/server/utils/tenant.test.ts
Due: eslint --fix, prettier --write

test(services): remove the never-executed integration suite
  tests/server/services/geins-settings.ts
  tests/server/services/integration.test.ts
  tests/server/services/sdk-services.test.ts
Due: eslint --fix, prettier --write

docs(testing): drop the integration test layer and refresh counts
  docs/testing.md
Due: prettier --write

test(services): remove the never-executed integration suite (#306)
  docs/testing.md
  tests/server/services/geins-settings.ts
  tests/server/services/integration.test.ts
  tests/server/services/sdk-services.test.ts
Due: eslint --fix, prettier --write

test(utils): type the component mount helper against real props
  tests/utils/component.ts
Due: eslint --fix, prettier --write

test(composables): type-check the composable, store and plugin tests
  tests/composables/useCmsPageLink.test.ts
  tests/composables/useErrorTracking.test.ts
  tests/composables/useLatestOrderForAlias.test.ts
  tests/composables/useTenant.test.ts
  tests/plugins/cart-init.test.ts
  tests/shared/utils/filters.test.ts
  tests/stores/checkout.test.ts
  tests/stores/quotes.test.ts
Due: eslint --fix, prettier --write

test(composables): type-check the composable, store and plugin tests (#308)
  tests/composables/useCmsPageLink.test.ts
  tests/composables/useErrorTracking.test.ts
  tests/composables/useLatestOrderForAlias.test.ts
  tests/composables/useTenant.test.ts
  tests/plugins/cart-init.test.ts
  tests/shared/utils/filters.test.ts
  tests/stores/checkout.test.ts
  tests/stores/quotes.test.ts
Due: eslint --fix, prettier --write

test(unit): type-check the remaining unit and helper tests
  tests/setup-nuxt.ts
  tests/unit/api/checkout.test.ts
  tests/unit/cms-sanitize.test.ts
  tests/unit/lint/bare-route-paths.test.ts
  tests/unit/pages/QuoteConfirmation.test.ts
  tests/unit/pages/slug-catch-all.test.ts
  tests/unit/server/api/portal/company.test.ts
  tests/utils/api-client.test.ts
  tests/utils/internal-fetch.test.ts
  tests/utils/product-texts.test.ts
Due: eslint --fix, prettier --write

build(typecheck): reference the tests project from the root tsconfig
  tests/tsconfig.json
  tsconfig.json
Due: prettier --write

test(unit): type-check the remaining unit tests and wire the gate (#309)
  tests/setup-nuxt.ts
  tests/tsconfig.json
  tests/unit/api/checkout.test.ts
  tests/unit/cms-sanitize.test.ts
  tests/unit/lint/bare-route-paths.test.ts
  tests/unit/pages/QuoteConfirmation.test.ts
  tests/unit/pages/slug-catch-all.test.ts
  tests/unit/server/api/portal/company.test.ts
  tests/utils/api-client.test.ts
  tests/utils/internal-fetch.test.ts
  tests/utils/product-texts.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(build): let tests/tsconfig.json into the docker build context
  .dockerignore
Due: none

docs(gate): require docker build when build config changes
  AGENTS.md
Due: prettier --write

fix(build): let tests/tsconfig.json into the docker build context (#311)
  .dockerignore
  AGENTS.md
Due: prettier --write

docs(cms-slots): correct three stale not-yet-consumed comments
  shared/types/cms-slots.ts
Due: eslint --fix, prettier --write
