Repository geins-io/sales-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add health details (#44)
  server/api/health.get.ts
  server/plugins/00.tenant-init.ts
  server/utils/tenant.ts
Due: eslint --fix, prettier --write

chore: debug
  server/api/health.get.ts
Due: eslint --fix, prettier --write

chore: debug env vars
  nuxt.config.ts
Due: eslint --fix, prettier --write

chore: debug
  nuxt.config.ts
Due: eslint --fix, prettier --write

chore: debug
  .github/workflows/deploy.yml
  infra/README.md
  infra/main.bicep
  infra/modules/webApp.bicep
  nuxt.config.ts
  server/utils/tenant.ts
Due: eslint --fix, prettier --write

chore: debug
  .env.example
  infra/README.md
  infra/environment-variables.md
  infra/local-development.md
Due: prettier --write

chore: debug
  nuxt.config.ts
  server/api/config.get.ts
Due: eslint --fix, prettier --write

init
  nuxt.config.ts
  shared/types/common.ts
Due: eslint --fix, prettier --write

chore: debug
  .github/workflows/build.yml
Due: none

Feat/env configs (#45)
  .github/workflows/build.yml
  nuxt.config.ts
  shared/types/common.ts
Due: eslint --fix, prettier --write

chore: debug
  infra/modules/webApp.bicep
Due: none

fix: use long-lived PAT for GHCR authentication
  .github/workflows/deploy.yml
Due: none

chore: debug CI
  .github/workflows/deploy.yml
  infra/modules/webApp.bicep
Due: none

chore: add secrets
  .github/workflows/deploy.yml
  infra/modules/webApp.bicep
Due: none

chore: add all vars to infra files
  infra/main.bicep
  infra/modules/webApp.bicep
Due: none

chore: ci fix
  .github/workflows/deploy.yml
Due: none

fix: remove fallback syntax from deploy parameters
  .github/workflows/deploy.yml
Due: none

fix: quote parameter values in deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: reset health checks after success ci
  server/api/health.get.ts
Due: eslint --fix, prettier --write

feat: use immutable SHA-based image tags for deployments
  .github/workflows/deploy.yml
Due: none

chore: new tags on ghcpr
  server/api/health.get.ts
Due: eslint --fix, prettier --write

fix: resolve Bicep linter warnings
  infra/main.bicep
  infra/modules/alertRules.bicep
Due: none

fix: pass commit SHA correctly to Nuxt build
  Dockerfile
Due: none

feat: add silent log level and make tenant API config server-only
  .env.example
  app/assets/css/tailwind.css
  app/assets/css/themes.css
  app/composables/useTenant.ts
  app/error.vue
  app/plugins/tenant-theme.ts
  docs/architecture.md
  docs/guide/getting-started.md
  infra/README.md
  infra/environment-variables.md
  server/api/config.get.ts
  server/utils/logger.ts
  server/utils/tenant.ts
  tests/server/api-contracts.test.ts
  tests/utils/index.ts
Due: eslint --fix, prettier --write

feat: add silent log level and make tenant API config server-only (#46)
  .env.example
  app/assets/css/tailwind.css
  app/assets/css/themes.css
  app/composables/useTenant.ts
  app/error.vue
  app/plugins/tenant-theme.ts
  docs/architecture.md
  docs/guide/getting-started.md
  infra/README.md
  infra/environment-variables.md
  server/api/config.get.ts
  server/utils/logger.ts
  server/utils/tenant.ts
  tests/server/api-contracts.test.ts
  tests/utils/index.ts
Due: eslint --fix, prettier --write

refactor(composables): use Nuxt built-in useFetch dedupe option
  app/composables/useApi.ts
  app/composables/useTenant.ts
  tests/composables/useApi.test.ts
  tests/composables/useTenant.test.ts
Due: eslint --fix, prettier --write

fix(security): restrict SSR header forwarding to safe allowlist
  app/plugins/api.ts
Due: eslint --fix, prettier --write

fix(middleware): await tenant data before checking features
  app/middleware/feature.ts
  tests/middleware/feature.test.ts
Due: eslint --fix, prettier --write

index
  server/plugins/01.tenant-context.ts
Due: eslint --fix, prettier --write

fix(middleware): await tenant data before checking features (#49)
  app/middleware/feature.ts
  tests/middleware/feature.test.ts
Due: eslint --fix, prettier --write

fix(security): restrict SSR header forwarding to safe allowlist (#48)
  app/plugins/api.ts
Due: eslint --fix, prettier --write

refactor(composables): use Nuxt built-in useFetch dedupe option (#47)
  app/composables/useApi.ts
  app/composables/useTenant.ts
  tests/composables/useApi.test.ts
  tests/composables/useTenant.test.ts
Due: eslint --fix, prettier --write

fix(SAL-67): use string key instead of function for useAsyncData
  app/composables/useRouteResolution.ts
Due: eslint --fix, prettier --write

docs(useApi): document memory management and add SAL-75 verification tests
  app/composables/useApi.ts
  tests/composables/useApi.test.ts
Due: eslint --fix, prettier --write

refactor(server): pass event to useRuntimeConfig() for Nuxt 4 compliance
  nuxt.config.ts
  server/api/config.get.ts
  server/api/external/[...].ts
  server/api/health.get.ts
  server/utils/tenant.ts
  tests/server/external-api.test.ts
Due: eslint --fix, prettier --write

fix(perf): add unref() to rate limiter cleanup interval
  server/utils/rate-limiter.ts
Due: eslint --fix, prettier --write

perf(logging): make request header logging configurable [SAL-78]
  .env.example
  infra/environment-variables.md
  server/plugins/02.request-logging.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,css,scss})
