Repository geins-io/sales-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

docs(setup): correct clone url and drop stale test counts (#271)
  README.md
  docs/architecture.md
  docs/guide/getting-started.md
Due: prettier --write

docs(architecture): correct request flow phases and hostname distinction
  docs/architecture.md
Due: prettier --write

docs(architecture): correct request flow phases and hostname distinction (#272)
  docs/architecture.md
Due: prettier --write

docs(architecture): remove stale references and correct caching claims
  docs/architecture.md
  nuxt.config.ts
Due: eslint --fix, prettier --write

docs(architecture): remove stale references and correct caching claims (#273)
  docs/architecture.md
  nuxt.config.ts
Due: eslint --fix, prettier --write

docs(adr): correct drift across the decision records
  docs/adr/001-use-vueuse-over-custom.md
  docs/adr/004-geins-sdk-service-layer.md
  docs/adr/005-internationalization.md
  docs/adr/007-tenant-config-schema-service-layer.md
  docs/adr/010-navigation-performance.md
  docs/adr/012-cms-page-layout-variants.md
  docs/adr/015-type-prefixed-routing.md
  docs/adr/_template.md
  docs/architecture.md
Due: prettier --write

docs(adr): correct drift across the decision records (#274)
  docs/adr/001-use-vueuse-over-custom.md
  docs/adr/004-geins-sdk-service-layer.md
  docs/adr/005-internationalization.md
  docs/adr/007-tenant-config-schema-service-layer.md
  docs/adr/010-navigation-performance.md
  docs/adr/012-cms-page-layout-variants.md
  docs/adr/015-type-prefixed-routing.md
  docs/adr/_template.md
  docs/architecture.md
Due: prettier --write

docs(caching): align the caching claims with the code
  docs/adr/009-webhook-cache-invalidation.md
  docs/adr/010-navigation-performance.md
  docs/adr/014-caching-strategy.md
  docs/adr/README.md
  docs/architecture.md
  server/middleware/cache-headers.ts
  server/utils/rate-limiter.ts
Due: eslint --fix, prettier --write

docs(caching): align the caching claims with the code (#275)
  docs/adr/009-webhook-cache-invalidation.md
  docs/adr/010-navigation-performance.md
  docs/adr/014-caching-strategy.md
  docs/adr/README.md
  docs/architecture.md
  server/middleware/cache-headers.ts
  server/utils/rate-limiter.ts
Due: eslint --fix, prettier --write

fix(docs): repair the vitepress build
  docs/adr/013-configurable-checkout-mode.md
  docs/architecture.md
  docs/lessons-learned.md
  docs/testing.md
Due: prettier --write

fix(docs): point github urls at the correct org
  docs/.vitepress/config.ts
  docs/index.md
Due: eslint --fix, prettier --write

docs(guide): reconcile the contributor guide with the tooling
  docs/guide/contributing.md
Due: prettier --write

docs(tenant): correct the local development and resolution story
  README.md
  docs/architecture.md
  docs/guide/multi-tenant.md
Due: prettier --write

docs(theming): correct the plugin references and injection mechanism
  README.md
  app/pages/checkout.vue
  docs/guide/theming.md
  docs/patterns/README.md
Due: eslint --fix, prettier --write

docs(api): describe the retrying client accurately
  app/plugins/api.ts
  app/utils/internal-fetch.ts
  docs/conventions/api-clients.md
  docs/guide/api-reference.md
  tests/composables/useTenant.test.ts
Due: eslint --fix, prettier --write

docs(adr): scope the sdk boundary rule to runtime imports
  docs/adr/004-geins-sdk-service-layer.md
Due: prettier --write

docs(conventions): state dedupe as a per-call-site choice
  AGENTS.md
  docs/architecture.md
Due: prettier --write

docs(lessons): record the tenant naming and fallback failure
  docs/lessons-learned.md
Due: prettier --write

docs: correct drifted claims across the guides, ADRs and conventions (#276)
  AGENTS.md
  README.md
  app/pages/checkout.vue
  app/plugins/api.ts
  app/utils/internal-fetch.ts
  docs/.vitepress/config.ts
  docs/adr/004-geins-sdk-service-layer.md
  docs/adr/013-configurable-checkout-mode.md
  docs/architecture.md
  docs/conventions/api-clients.md
  docs/guide/api-reference.md
  docs/guide/contributing.md
  docs/guide/multi-tenant.md
  docs/guide/theming.md
  docs/index.md
  docs/lessons-learned.md
  docs/patterns/README.md
  docs/testing.md
  tests/composables/useTenant.test.ts
Due: eslint --fix, prettier --write

test(e2e): serve the production build over tls under test
  .github/workflows/ci.yml
  .gitignore
  docs/testing.md
  infra/scripts/local-cert.sh
  infra/scripts/local-dev.sh
  playwright.config.ts
Due: eslint --fix, prettier --write

test(e2e): assert hydration and un-skip the painted theme check
  tests/e2e/homepage.spec.ts
  tests/e2e/theme-colors.spec.ts
Due: eslint --fix, prettier --write

test(e2e): serve the production build over tls and assert hydration (#277)
  .github/workflows/ci.yml
  .gitignore
  docs/testing.md
  infra/scripts/local-cert.sh
  infra/scripts/local-dev.sh
  playwright.config.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/theme-colors.spec.ts
Due: eslint --fix, prettier --write

feat(i18n): add nb-NO locale with english placeholder messages
  app/locales/nb.json
  nuxt.config.ts
  shared/utils/locale-market.ts
Due: eslint --fix, prettier --write

test(i18n): assert full key parity across all locale files
  tests/unit/i18n-locale-parity.test.ts
Due: eslint --fix, prettier --write

feat(i18n): replace hardcoded sv locale fallbacks with tenant default
  app/components/checkout/OrderConfirmation.vue
  app/components/portal/PortalOrdersTable.vue
  app/components/portal/PortalProductsTable.vue
  app/components/portal/SavedListsTable.vue
  app/composables/useLocaleMarket.ts
  app/error.vue
  app/middleware/auth.ts
  app/middleware/feature.ts
  app/middleware/guest.ts
  app/pages/portal/index.vue
  app/plugins/tenant-seo.ts
  server/middleware/00.locale-market.ts
  server/utils/locale.ts
  tests/components/portal/PortalOrdersTable.test.ts
  tests/composables/useLocaleMarket.test.ts
  tests/middleware/auth.test.ts
  tests/middleware/guest.test.ts
  tests/plugins/tenant-seo.test.ts
  tests/server/locale.test.ts
  tests/server/middleware/locale-market.test.ts
  tests/unit/commerce.test.ts
Due: eslint --fix, prettier --write

fix(seo): emit hreflang from the locale's bcp-47 code, not the market
  app/composables/useSeoLinks.ts
  tests/composables/useSeoLinks.test.ts
Due: eslint --fix, prettier --write

fix(market): resolve the default market from tenant config, not 'se'
  app/composables/useLocaleMarket.ts
  app/error.vue
  app/middleware/auth.ts
  app/middleware/feature.ts
  app/middleware/guest.ts
  server/middleware/00.locale-market.ts
  tests/composables/useLocaleMarket.test.ts
  tests/middleware/auth.test.ts
  tests/middleware/guest.test.ts
  tests/server/middleware/locale-market.test.ts
Due: eslint --fix, prettier --write

feat(i18n): translate nb locale to norwegian bokmål
  app/locales/nb.json
Due: prettier --write

feat(i18n): add finnish and danish locales with translations
  app/locales/da.json
  app/locales/fi.json
  nuxt.config.ts
  shared/utils/locale-market.ts
Due: eslint --fix, prettier --write

test(i18n): cover switching into every locale end-to-end
  server/plugins/99.dev-tenant-seed.ts
  tests/e2e/locale-switching.spec.ts
Due: eslint --fix, prettier --write

feat(i18n): order the locale switcher by endonym, not config order
  app/components/shared/LocaleSwitcher.vue
  app/utils/order-locales.ts
  tests/components/LocaleSwitcher.test.ts
Due: eslint --fix, prettier --write

fix(i18n): derive html lang from the tenant's bcp-47 locales
  app/composables/useSeoLinks.ts
  app/plugins/tenant-seo.ts
  app/utils/locale-bcp47.ts
  tests/plugins/tenant-seo.test.ts
  tests/utils/locale-bcp47.test.ts
Due: eslint --fix, prettier --write

feat(i18n): emit canonical and hreflang on locale landing pages
  app/pages/index.vue
  tests/composables/useSeoLinks.test.ts
Due: eslint --fix, prettier --write

chore(ci): add expanded-language-support to staging manifest
  .github/dev-branches.txt
Due: none

test(i18n): assert html lang from the tenant's own bcp-47 locales
  tests/e2e/locale-switching.spec.ts
Due: eslint --fix, prettier --write

build(e2e): give playwright specs a tsconfig and node types
  package.json
  pnpm-lock.yaml
  tests/e2e/tsconfig.json
Due: prettier --write

fix(i18n): target hreflang alternates at the market, guard iso region
  app/composables/useSeoLinks.ts
  app/plugins/tenant-seo.ts
  app/utils/country-options.ts
  app/utils/locale-bcp47.ts
  shared/constants/index.ts
  shared/constants/iso-regions.ts
  tests/composables/useSeoLinks.test.ts
  tests/shared/constants/iso-regions.test.ts
  tests/utils/locale-bcp47.test.ts
Due: eslint --fix, prettier --write

build(tests): give unit specs the nuxt path aliases
  tests/tsconfig.json
Due: prettier --write

fix(i18n): format prices and dates with the active locale
  app/components/cart/CartDrawer.vue
  app/components/checkout/OrderConfirmation.vue
  app/components/pages/CartPage.vue
  app/components/portal/PortalOrdersTable.vue
  app/components/portal/PortalProductsTable.vue
  app/components/portal/SavedListsTable.vue
  app/components/product/PrintHeader.vue
  app/components/shared/PriceDisplay.vue
  app/composables/useFormatLocale.ts
  app/pages/checkout.vue
  app/pages/portal/index.vue
  app/pages/portal/orders/[id].vue
  app/pages/portal/quotations/[id].vue
  app/pages/portal/quotations/index.vue
  app/pages/portal/saved-lists/[id].vue
  tests/composables/useFormatLocale.test.ts
  tests/unit/pages/PortalOverview.test.ts
Due: eslint --fix, prettier --write

fix(i18n): return string-or-undefined from getRequestLocale again
  server/plugins/03.seo-config.ts
  server/utils/locale.ts
  tests/server/locale.test.ts
  tests/server/plugins/03.seo-config.test.ts
  tests/server/services/_sdk.test.ts
  tests/server/services/cms-cache.test.ts
Due: eslint --fix, prettier --write
