Repository geins-io/sales-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(ci): clear dev manifest after release
  .github/dev-branches.txt
Due: none

fix(cms): scope page-content frame to menu and form pages
  app/components/cms/CmsContainer.vue
  app/components/cms/CmsWidgetArea.vue
  app/pages/[...slug].vue
  tests/components/cms/CmsContainer.test.ts
  tests/unit/pages/slug-catch-all.test.ts
Due: eslint --fix, prettier --write

chore(dev-sync): add sal-339 cms page-content frame branch to staging manifest
  .github/dev-branches.txt
Due: none

style(cms): widen rich-text block frame to content width, cap inner column
  app/components/cms/CmsContainer.vue
  tests/components/cms/CmsContainer.test.ts
Due: eslint --fix, prettier --write

chore(dev-sync): remove sal-339 from staging manifest after merge to main
  .github/dev-branches.txt
Due: none

fix(nav): hide show-all-in menu link
  app/components/layout/header/LayoutHeaderNav.vue
  app/locales/en.json
  app/locales/sv.json
Due: eslint --fix, prettier --write

fix(portal): hide show-all buttons on empty overview sections
  app/pages/portal/index.vue
Due: eslint --fix, prettier --write

chore(ci): add hide-stray-links to dev manifest
  .github/dev-branches.txt
Due: none

fix(product-card): neutralize out-of-stock badge and favorite button
  app/components/shared/OutOfStockBlock.vue
  app/components/shared/ProductCard.vue
Due: eslint --fix, prettier --write

feat(pdp): show max-stock notice and update out-of-stock label
  app/components/pages/ProductDetails.vue
  app/locales/en.json
  app/locales/sv.json
  tests/components/pages/ProductDetails.oos.test.ts
Due: eslint --fix, prettier --write

chore(ci): add product-card-display to staging manifest
  .github/dev-branches.txt
Due: none

fix(plp): tolerate null facet labels in the filter sheet
  app/components/product/ActiveFilters.vue
  app/components/product/FilterGroup.vue
  app/components/product/ProductFilters.vue
  shared/types/commerce.ts
  tests/components/product/FilterGroup.test.ts
Due: eslint --fix, prettier --write

chore(dev-sync): add plp facet-filter fix branch to staging manifest
  .github/dev-branches.txt
Due: none

chore(ci): add cms mobile-behaviour branch to dev manifest
  .github/dev-branches.txt
Due: none

chore(ci): trim dev manifest to in-flight collapse branch
  .github/dev-branches.txt
Due: none

chore(release): promote completed batch to production (#264)
  app/components/layout/header/LayoutHeaderNav.vue
  app/components/pages/ProductDetails.vue
  app/components/product/ActiveFilters.vue
  app/components/product/FilterGroup.vue
  app/components/product/ProductFilters.vue
  app/components/shared/OutOfStockBlock.vue
  app/components/shared/ProductCard.vue
  app/locales/en.json
  app/locales/sv.json
  app/pages/portal/index.vue
  shared/types/commerce.ts
  tests/components/pages/ProductDetails.oos.test.ts
  tests/components/product/FilterGroup.test.ts
Due: eslint --fix, prettier --write

feat(cms): add container mobile behaviour with collapse slider
  app/components/cms/CmsContainer.vue
  tests/components/cms/CmsContainer.test.ts
Due: eslint --fix, prettier --write

fix(cms): move collapse slider into cards widget, header stays fixed
  app/components/cms/CmsContainer.vue
  app/components/cms/CmsWidget.vue
  app/components/cms/widgets/JsonWidget.vue
  tests/components/cms/CmsContainer.test.ts
  tests/components/cms/JsonWidget.test.ts
Due: eslint --fix, prettier --write

chore(dev-sync): clear staging manifest after release
  .github/dev-branches.txt
Due: none

feat(cms): add collapse mobile behaviour sliding card items (#265)
  app/components/cms/CmsContainer.vue
  app/components/cms/CmsWidget.vue
  app/components/cms/widgets/JsonWidget.vue
  tests/components/cms/CmsContainer.test.ts
  tests/components/cms/JsonWidget.test.ts
Due: eslint --fix, prettier --write

fix(ci): bind the uploaded certificate thumbprint in renew-certs
  .github/workflows/renew-certs.yml
Due: none

build(lint): ban any and ts-comment escape hatches
  AGENTS.md
  eslint.config.mjs
Due: prettier --write

docs(conventions): document component resolution trap and past incidents
  AGENTS.md
  docs/conventions/README.md
  docs/conventions/components.md
  docs/lessons-learned.md
Due: prettier --write

chore(tooling): remove mint agent orchestration
  .gitignore
  .mint/.config-backup-0.0.0.json
  .mint/.session-state.json
  .mint/config.json
  .mint/doc-manifest.json
  .mint/hard-blocks.md
  .mint/instincts.jsonl
  .mint/instincts.md
  .mint/issues.jsonl
  .mint/issues.md
  .mint/metrics.jsonl
  .mint/patterns.jsonl
  .mint/pre-compact-state.json
  .mint/templates/weekly-report.md
  .mint/wins.jsonl
  .mint/wins.md
  AGENTS.md
  docs/adr/019-bulletproof-routing.md
  docs/conventions/api-clients.md
  docs/testing.md
  eslint.config.mjs
Due: prettier --write

chore(deps): add vue-tsc devDependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(tooling): remove mint agent orchestration (#266)
  .gitignore
  .mint/.config-backup-0.0.0.json
  .mint/.session-state.json
  .mint/config.json
  .mint/doc-manifest.json
  .mint/hard-blocks.md
  .mint/instincts.jsonl
  .mint/instincts.md
  .mint/issues.jsonl
  .mint/issues.md
  .mint/metrics.jsonl
  .mint/patterns.jsonl
  .mint/pre-compact-state.json
  .mint/templates/weekly-report.md
  .mint/wins.jsonl
  .mint/wins.md
  AGENTS.md
  docs/adr/019-bulletproof-routing.md
  docs/conventions/README.md
  docs/conventions/api-clients.md
  docs/conventions/components.md
  docs/lessons-learned.md
  docs/testing.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(guide): add gh cli as an optional prerequisite
  docs/guide/contributing.md
  docs/guide/getting-started.md
Due: prettier --write

docs(guide): add gh cli as an optional prerequisite (#267)
  docs/guide/contributing.md
  docs/guide/getting-started.md
Due: prettier --write

fix(auth): scope in-flight user fetch to the store instance
  app/stores/auth.ts
  tests/stores/auth.test.ts
Due: eslint --fix, prettier --write

fix(feature-access): await auth before evaluating access rules
  app/middleware/feature.ts
Due: eslint --fix, prettier --write

fix(auth): scope in-flight user fetch to the store instance (#268)
  app/middleware/feature.ts
  app/stores/auth.ts
  tests/stores/auth.test.ts
Due: eslint --fix, prettier --write

fix(layout): hide env badge below sm to stop overflow
  app/components/layout/header/LayoutHeaderTopbar.vue
Due: eslint --fix, prettier --write

fix(layout): hide env badge below sm to stop overflow (#269)
  app/components/layout/header/LayoutHeaderTopbar.vue
Due: eslint --fix, prettier --write

chore(e2e): disable dev overlays during e2e runs
  nuxt.config.ts
Due: eslint --fix, prettier --write

test(e2e): add auth setup project and credential gating
  .gitignore
  playwright.config.ts
  tests/e2e/auth.setup.ts
  tests/e2e/helpers.ts
Due: eslint --fix, prettier --write

docs(testing): document e2e prerequisites and the ci gate
  docs/testing.md
Due: prettier --write

fix(e2e): repair specs for current app behaviour
  tests/e2e/auth.spec.ts
  tests/e2e/cart.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/portal.spec.ts
  tests/e2e/product-browsing.spec.ts
  tests/e2e/routing.spec.ts
  tests/e2e/search.spec.ts
Due: eslint --fix, prettier --write

test(e2e): restore the suite and document its prerequisites (#270)
  .gitignore
  docs/testing.md
  nuxt.config.ts
  playwright.config.ts
  tests/e2e/auth.setup.ts
  tests/e2e/auth.spec.ts
  tests/e2e/cart.spec.ts
  tests/e2e/helpers.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/portal.spec.ts
  tests/e2e/product-browsing.spec.ts
  tests/e2e/routing.spec.ts
  tests/e2e/search.spec.ts
Due: eslint --fix, prettier --write

docs(setup): correct clone url and drop stale test counts
  README.md
  docs/architecture.md
  docs/guide/getting-started.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,css,scss})
