Repository geins-io/sales-portal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: rename project from multitenant-storefront to sales-portal
  package.json
  sales-portal.code-workspace
Due: prettier --write

fix(useLocalStorage): add proper lifecycle cleanup for storage event listener
  app/composables/useLocalStorage.ts
Due: eslint --fix, prettier --write

Initial project structure (#6)
  .cursor/plans/azure_container_deployment_ceb76fe1.plan.md
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  app/composables/useDebounce.ts
  app/composables/useLocalStorage.ts
  app/composables/useMediaQuery.ts
  app/error.vue
  app/middleware/auth.ts
  app/middleware/feature.ts
  app/middleware/guest.ts
  package.json
  pnpm-lock.yaml
  sales-portal.code-workspace
  shared/constants/index.ts
  shared/types/api.ts
  shared/types/common.ts
  shared/types/index.ts
  tests/components/.gitkeep
  tests/server/errors.test.ts
  tests/server/tenant.test.ts
  tests/unit/utils.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(infra): Setup CI/CD deployment pipeline with Azure Bicep and GitHub Actions
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  Dockerfile
  infra/README.md
  infra/main.bicep
  infra/modules/appServicePlan.bicep
  infra/modules/webApp.bicep
  infra/parameters/dev.bicepparam
  infra/parameters/prod.bicepparam
  infra/parameters/staging.bicepparam
Due: prettier --write

chore: fix joinUrl bug
  app/error.vue
  app/stores/app.ts
  server/api/external/[...].ts
Due: eslint --fix, prettier --write

Deployment pipeline setup (#7)
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  Dockerfile
  app/error.vue
  app/stores/app.ts
  infra/README.md
  infra/main.bicep
  infra/modules/appServicePlan.bicep
  infra/modules/webApp.bicep
  infra/parameters/dev.bicepparam
  infra/parameters/prod.bicepparam
  infra/parameters/staging.bicepparam
  server/api/external/[...].ts
Due: eslint --fix, prettier --write

feat(infra): Add Azure infrastructure setup scripts and pnpm commands
  infra/README.md
  infra/scripts/deploy.sh
  infra/scripts/setup.sh
  infra/scripts/validate.sh
  package.json
Due: prettier --write

chore: wip
  .cursor/plans/azure_container_deployment_ceb76fe1.plan.md
  .github/workflows/deploy.yml
  docs/ARCHITECTURE.md
  infra/README.md
  infra/main.bicep
  infra/modules/webApp.bicep
  infra/parameters/dev.bicepparam
  infra/parameters/prod.bicepparam
  infra/parameters/staging.bicepparam
  infra/scripts/deploy.sh
  infra/scripts/setup.sh
Due: prettier --write

fix: add id-token and attestations permissions for build workflow
  .github/workflows/build.yml
Due: none

fix: disable infra
  .github/workflows/deploy.yml
Due: none

Cursor/sal 5 azure hosting infrastructure 668e (#9)
  .cursor/plans/azure_container_deployment_ceb76fe1.plan.md
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  docs/ARCHITECTURE.md
  infra/README.md
  infra/main.bicep
  infra/modules/webApp.bicep
  infra/parameters/dev.bicepparam
  infra/parameters/prod.bicepparam
  infra/parameters/staging.bicepparam
  infra/scripts/deploy.sh
  infra/scripts/setup.sh
  infra/scripts/validate.sh
  package.json
Due: prettier --write

fix: add health check
  server/api/health.get.ts
Due: eslint --fix, prettier --write

feat: add health check endpoint for Azure App Service monitoring
  Dockerfile
Due: none

fix: update health check path to /api/health in Bicep and deploy workflow
  .github/workflows/deploy.yml
  infra/modules/webApp.bicep
Due: none

chore: add load test
  infra/load-test.jmx
Due: none

feat(monitoring): implement comprehensive monitoring, logging, and alerting
  .env.example
  app/composables/useErrorTracking.ts
  docs/ARCHITECTURE.md
  infra/README.md
  infra/main.bicep
  infra/modules/alertRules.bicep
  infra/modules/applicationInsights.bicep
  infra/modules/webApp.bicep
  server/api/health.get.ts
  server/api/log/error.post.ts
  server/plugins/02.request-logging.ts
  server/utils/logger.ts
  tests/server/logger.test.ts
Due: eslint --fix, prettier --write

chore: wip
  .cursor/plans/azure_container_deployment_ceb76fe1.plan.md
  .env.example
  README.md
  docs/ARCHITECTURE.md
  infra/README.md
  infra/scripts/deploy.sh
  infra/scripts/setup.sh
  nuxt.config.ts
  server/api/health.get.ts
Due: eslint --fix, prettier --write

chore: remove darkmode
  app/composables/useMediaQuery.ts
  app/composables/useTenant.ts
  app/stores/app.ts
  docs/ARCHITECTURE.md
  nuxt.config.ts
  server/utils/tenant.ts
  shared/types/tenant-config.ts
  tests/server/tenant.test.ts
Due: eslint --fix, prettier --write

Cursor/sal 6 monitoring and logging setup e4e7 (#11)
  .cursor/plans/azure_container_deployment_ceb76fe1.plan.md
  .env.example
  README.md
  app/composables/useErrorTracking.ts
  app/composables/useMediaQuery.ts
  app/composables/useTenant.ts
  app/stores/app.ts
  docs/ARCHITECTURE.md
  infra/README.md
  infra/main.bicep
  infra/modules/alertRules.bicep
  infra/modules/applicationInsights.bicep
  infra/modules/webApp.bicep
  infra/scripts/deploy.sh
  infra/scripts/setup.sh
  nuxt.config.ts
  server/api/health.get.ts
  server/api/log/error.post.ts
  server/plugins/02.request-logging.ts
  server/utils/logger.ts
  server/utils/tenant.ts
  shared/types/tenant-config.ts
  tests/server/logger.test.ts
  tests/server/tenant.test.ts
Due: eslint --fix, prettier --write

fix: downgraded vitest
  .nuxtrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: switch to memory as driver for kv storage
  nuxt.config.ts
  server/api/health.get.ts
Due: eslint --fix, prettier --write

feat: Implement dynamic routing for content pages, introduce portal pages, and refactor header and footer into modular components.
  app/components/layout/LayoutFooter.vue
  app/components/layout/LayoutHeader.vue
  app/components/layout/footer/LayoutFooterBottom.vue
  app/components/layout/footer/LayoutFooterMain.vue
  app/components/layout/footer/LayoutFooterTop.vue
  app/components/layout/header/LayoutHeaderMain.vue
  app/components/layout/header/LayoutHeaderTopbar.vue
  app/components/pages/Content.vue
  app/components/pages/ProductDetails.vue
  app/components/pages/ProductList.vue
  app/components/shared/Logo.vue
  app/components/shared/SearchBar.vue
  app/layouts/default.vue
  app/pages/[...slug].vue
  app/pages/login.vue
  app/pages/portal/index.vue
  app/pages/portal/login.vue
  nuxt.config.ts
  public/favicon.ico
Due: eslint --fix, prettier --write

chore: added types for dynamic routing
  shared/types/common.ts
Due: eslint --fix, prettier --write

chore: update workflow
  .github/workflows/build.yml
Due: none

feat: Implement dynamic routing for content pages, introduce portal p… (#12)
  .github/workflows/build.yml
  app/components/layout/LayoutFooter.vue
  app/components/layout/LayoutHeader.vue
  app/components/layout/footer/LayoutFooterBottom.vue
  app/components/layout/footer/LayoutFooterMain.vue
  app/components/layout/footer/LayoutFooterTop.vue
  app/components/layout/header/LayoutHeaderMain.vue
  app/components/layout/header/LayoutHeaderTopbar.vue
  app/components/pages/Content.vue
  app/components/pages/ProductDetails.vue
  app/components/pages/ProductList.vue
  app/components/shared/Logo.vue
  app/components/shared/SearchBar.vue
  app/layouts/default.vue
  app/pages/[...slug].vue
  app/pages/login.vue
  app/pages/portal/index.vue
  app/pages/portal/login.vue
  nuxt.config.ts
  public/favicon.ico
  shared/types/common.ts
Due: eslint --fix, prettier --write

chore: fix deployment
  .github/workflows/deploy.yml
  Dockerfile
  infra/modules/webApp.bicep
  server/api/health.get.ts
Due: eslint --fix, prettier --write

fix: add missing route endpoint
  .github/workflows/deploy.yml
  infra/modules/webApp.bicep
  server/api/resolve-route.get.ts
  shared/types/common.ts
Due: eslint --fix, prettier --write

fix: simplyfy deploy from branches
  .github/workflows/deploy.yml
Due: none

feat(testing): Setup comprehensive testing and QA framework
  .github/workflows/build.yml
  .gitignore
  docs/TESTING.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/components/Button.test.ts
  tests/composables/useDebounce.test.ts
  tests/composables/useLocalStorage.test.ts
  tests/e2e/app.spec.ts
  tests/e2e/health.spec.ts
  tests/unit/constants.test.ts
  tests/utils/component.ts
  tests/utils/index.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: Remove .gitkeep from tests/components
  tests/components/.gitkeep
Due: none

feat(SAL-37): Setup Sentry error tracking and performance monitoring
  .env.example
  app/composables/useErrorTracking.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write

fix: adjust tests
  tests/e2e/app.spec.ts
  tests/e2e/health.spec.ts
Due: eslint --fix, prettier --write

Testing and QA setup (#13)
  .github/workflows/build.yml
  .gitignore
  docs/TESTING.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/components/.gitkeep
  tests/components/Button.test.ts
  tests/composables/useDebounce.test.ts
  tests/composables/useLocalStorage.test.ts
  tests/e2e/app.spec.ts
  tests/e2e/health.spec.ts
  tests/unit/constants.test.ts
  tests/utils/component.ts
  tests/utils/index.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(ci): prevent duplicate GitHub Actions runs on PR pushes
  .github/workflows/build.yml
Due: none

feat(sentry): setup Sentry error tracking and performance monitoring
  .env.example
  app/composables/useErrorTracking.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write

test: verify Linear-Cursor connection is working
  .cursor/plans/linear-connection-test.md
Due: prettier --write

chore: add refactor plan
  REFACTOR_PLAN.md
Due: prettier --write

chore: adjust health check
  server/api/health.get.ts
Due: eslint --fix, prettier --write

Nuxt Sentry configuration (#15)
  .env.example
  app/composables/useErrorTracking.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.server.config.ts
  server/api/health.get.ts
Due: eslint --fix, prettier --write

chore: fix typos and add sentry error test page
  .github/workflows/deploy.yml
  app/components/layout/LayoutFooter.vue
  app/components/layout/LayoutHeader.vue
  app/layouts/default.vue
  app/pages/error-test.vue
  infra/README.md
  infra/main.bicep
  infra/modules/webApp.bicep
  nuxt.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,css,scss})
